/* Fonts
font-family: 'PT Sans Narrow', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Caveat', cursive;
font-family: 'Crimson Pro', serif;
*/

:root {
  --clr-text: #5a5a5a;
  --clt-primary: #19a01d;
  --clt-primary-dark: #125814;
  --clr-accent: #764981;
  --clr-accent-dark: #44264d;

  --ff-title: "Caveat", cursive;
  --ff-serif: "Crimson Pro", serif;
  --ff-text: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--ff-text);
  color: var(--clr-text);
  font-size: 1.125rem;
  text-align: center;
}

img {
  display: block;
  max-width: 100%;
}

section {
  padding: 3em 1em;
}

.mb-0 {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

h1 {
  font-family: var(--ff-title);
  color: black;
}

h2,
h3 {
  font-family: var(--ff-title);
  color: black;
  line-height: 0.8;
}

h2 {
  font-size: 4rem;
}

p {
  margin-bottom: 0.85em;
}

.section-title-small {
  font-size: 3rem;
}

.text-primary {
  color: var(--clt-primary);
}

.logo {
  text-align: center;
  padding: 0.8em;
}

.logo a {
  text-decoration: none;
  color: black;
}

header {
  padding: 1em 0 2em;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-around;
}

nav a {
  display: inline-block;
  padding: 0.5em;
  color: var(--clt-primary);
  text-decoration: none;
}

nav a:hover,
nav a:focus {
  color: var(--clr-accent);
  text-decoration: underline;
}

.hero {
  background: var(--clr-accent);
  background-image: url(img/fruits-vegetables.jpg);
  background-blend-mode: multiply;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
}

.hero h2 {
  color: white;
  padding: 10vh 1vh;
}

.intro {
  text-align: center;
}

.about-us {
  background: var(--clr-accent);
  color: white;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.about-us h2 {
  color: white;
  padding: 10vh 1vh;
  text-align: center;
}

.about-us__intro {
  background: var(--clr-accent);
  background-image: url(img/traktor.jpg);
  background-blend-mode: multiply;
  background-attachment: fixed;
  background-size: cover;
  padding: 3em 1em;
}

.about-us__body {
  padding: 2em;
}

.btn-group {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.btn {
  padding: 0.75em 2.5em;
  color: white;
  text-decoration: none;
  display: inline-block;
  margin: 0.5em;
  border-radius: 0.35em;
}

.btn-primary {
  background: var(--clt-primary);
}

.btn-primary:hover,
btn-primary:focus {
  background: var(--clt-primary-dark);
}

.btn-accent {
  background: var(--clr-accent);
}

.btn-accent:hover,
btn-accent:focus {
  background: var(--clr-accent-dark);
}

.order-online {
  background: #f0f0f0;
}

.products {
  display: flex;
  flex-direction: column;
}

.product {
  padding: 1em;
  border-radius: 0.35em;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
}

.product__img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product__img {
  border-radius: 0.15em;
}

.product__content {
  line-height: 1.5em;
}

.product__titles {
  padding: 0.7em;
  color: var(--clt-primary);
  font-size: 2.5rem;
}
